.container {
  width: 100%;
  max-width: 100%;
  padding-top: 6rem;
  padding-bottom: 5rem;

  @media (width >= 1024px) {
    max-width: 64rem;
  }
}

.carousel-wrapper {
  overflow: hidden;
  box-sizing: border-box;
  width: 100%;
  max-width: 100vw;
}
