html {
  scroll-behavior: smooth;
  height: 100%;
}

html,
body {
  width: 100%;
  margin: 0;
  text-size-adjust: none;
}

body {
  min-height: 100%;
  font-family: var(--font-inter), sans-serif;
}

#root {
  position: relative;

  overflow: hidden;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 1fr auto;

  box-sizing: border-box;
  width: 100%;
  max-width: 100%;
  min-height: 100vh;

  background: hsl(var(--background));
}

body.lock {
  overflow: hidden;
  padding-right: var(--scrollbar-width, 0);
}

.global-container {
  width: 100%;
  margin: 0 auto;
  padding-right: 1rem;
  padding-left: 1rem;

  @media (width >= 1024px) {
    max-width: 64rem;
  }
}

.section {
  transform: translateY(3rem);
  opacity: 0;
  transition: all 0.6s ease;

  &.show {
    transform: translateY(0);
    opacity: 1;
  }
}
