html {
  scroll-behavior: smooth;
  text-size-adjust: 100%;
  text-size-adjust: 100%;
}

html,
body {
  width: 100%;
  margin: 0;
}

body {
  min-height: 100vh;
  min-height: 100dvh;
  font-family: var(--font-inter), sans-serif;

  -webkit-tap-highlight-color: transparent;
}

#root {
  position: relative;

  display: grid;
  grid-template-columns: minmax(0, 100%);
  grid-template-rows: 1fr auto;

  box-sizing: border-box;
  width: 100%;
  max-width: 100%;
  min-height: 100vh;

  background: hsl(var(--background));
}

body.lock {
  overflow: hidden;
  width: 100%;
  padding-right: var(--scrollbar-width, 0);
}

a,
button {
  touch-action: manipulation;

  -webkit-tap-highlight-color: transparent;
}

.global-container {
  width: 100%;
  margin: 0 auto;
  padding-right: 1rem;
  padding-left: 1rem;

  @media (width >= 1024px) {
    max-width: 64rem;
  }
}

.section {
  @media (width >= 768px) {
    transform: translateY(3rem);
    opacity: 0;
    transition: all 0.6s ease;

    &.show {
      transform: translateY(0);
      opacity: 1;
    }
  }
}
