.container {
  position: absolute;
  z-index: 1;
  top: 25%;
  left: 25%;

  display: none;

  @media (width >= 768px) {
    display: block;
  }
}

.planet {
  display: none;

  width: 1rem;
  height: 1rem;
  border-radius: 50%;

  opacity: 0.6;
  background: linear-gradient(
    to right,
    hsl(263deg 90% 68%),
    hsl(239deg 90% 70%)
  );

  animation: orbit 20s linear infinite;

  @media (width >= 768px) {
    display: block;
  }
}

@keyframes orbit {
  from {
    transform: rotate(0deg) translateX(7.5rem) rotate(0deg);
  }

  to {
    transform: rotate(360deg) translateX(7.5rem) rotate(-360deg);
  }
}
