.footer {
  border-top: 1px solid hsl(var(--border) / 0.3);

  p {
    font-size: 0.875rem;
    line-height: 1.25rem;
    color: hsl(var(--muted-foreground));
  }
}

.container {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin: 0 auto;
  padding-top: 2rem;
  padding-bottom: 2rem;
  text-align: center;
  padding-left: 1rem;
  padding-right: 1rem;

  @media screen and (min-width: 768px) {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    max-width: 56rem;
  }
}

.icons {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.footer-icon {
  width: 1.125rem;
  height: 1.125rem;

  background-color: hsl(var(--muted-foreground));
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-position: center;
  -webkit-mask-size: contain;
  mask-repeat: no-repeat;
  mask-position: center;
  mask-size: contain;
  background-size: cover;
  transition: background-color var(--transition-duration)
    var(--transition-timing-function);
  cursor: pointer;

  @media (hover: hover) and (pointer: fine) {
    &:hover {
      background-color: hsl(var(--primary));
    }
  }

  &:active {
    background-color: hsl(var(--primary));
  }
}
